@import "../../variables";

.player-container {
  position: fixed;
  z-index: 2;
  bottom: -6px;
  right: 0;
  width: 100%;
  max-width: 100%;
  transition: width map_get($animationSpeed, 'out-slow');

  @media screen and (min-width: 640px) {
    width: 400px;
    transition: right map_get($animationSpeed, 'in-slow');

  }

  #player {
    max-width: 100%;
    width: 213px;
    height: 140px;
    position: relative;
    left: 100%;
    bottom: -6px;
    transform: translateX(-100%);
    margin: 0;
    padding: 0 0 0 14px;
    pointer-events: none;
    z-index: 1;
    filter: grayscale(0.7);
    transition: right map_get($animationSpeed, 'out-slow'), width map_get($animationSpeed, 'out-slow'), height map_get($animationSpeed, 'out-slow');

    @media screen and (min-width: 640px) {
      width: 100%;
      height: auto;
      transition: right map_get($animationSpeed, 'in-slow');

    }

    @mixin smallScreens {
      width: 160px;
      height: 110px;
      transition: right map_get($animationSpeed, 'in-slow');
    }

    @media screen and (max-width: 375px) and (max-height: 667px) {
      @include smallScreens;
    }
    @media screen and (max-width: 667px) and (max-height: 375px) {
      @include smallScreens;
    }
    @media screen and (max-height: 414px) {
      @include smallScreens;
    }

  }

}
