@import "../../variables";

.player-container {
  position: fixed;
  display: none;
  right: -100%;

  @media screen and (min-device-width: 640px) {
    bottom: 7em;
    right: 0;
    z-index: 2;
    display: initial;
    margin: 0;
    padding: 0;
    height: 7em;
    overflow: hidden;

  }

}
