@import 'variables';

body, html {
  font-family: Roboto, sans-serif;
  color: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to left, #212335, #131516);
}

.body-content {
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
  margin: 84px 0;
}

a {
  color: rgba(255, 255, 255, 0.7);
  transition: color map-get($animationSpeed, "out");

  &:hover {
    color: white;
    text-decoration: underline;
    transition: color map-get($animationSpeed, "in");
  }

}

input, textarea {
  color: white;
}
