// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$palette: (
        'base': #31B78F,
        'pale': #483348,
        'contrast': #FB8B24,
        'accent': #D90368,
        'complement': #98307F,
);

$animationSpeed: (
        "in-quick": 150ms,
        "out-quick":75ms,
        "in": 300ms,
        "out":150ms,
        "in-slow": 600ms,
        "out-slow":300ms
);