$palette: (
        'base': #31B78F,
        'pale': #483348,
        'contrast': #FB8B24,
        'accent': #D90368,
        'complement': #98307F,
);

$breakpoints: (
        'small': 640px,
        'medium': 1024px,
        'large': 1280px
);

$animationSpeed: (
        "in-quick": 150ms,
        "out-quick":75ms,
        "in": 300ms,
        "out":150ms,
        "in-slow": 600ms,
        "out-slow":300ms
);