@import "../../variables";

$transitionSpeed: map_get($animationSpeed, "in-slow");
$startColor: lighten(map_get($palette, 'base'), 20%);
$endColor: lighten(map_get($palette, 'accent'), 20%);
$lyricColor: map_get($palette, 'pale');
$selectionColor: map_get($palette, 'contrast');

.lyrics-container.sync {

  font-size: 1.5em;

  .lyrics-content {

    .lyric {
      color: rgba($lyricColor, 1);
      cursor: pointer;
      position: relative;
      padding-left: 0.5em;
      font-size: 1.25em;

      &.selected {
        color: $selectionColor;
        background: linear-gradient(45deg, $lyricColor, transparent);
        animation: lineSelection $transitionSpeed alternate infinite;
      }

      &:hover {
        background: linear-gradient(45deg, darken($lyricColor, 5%), transparent);
      }

      .timestamp {
        padding: 2px 3px;
        line-height: 1;
        font-size: 0.8em;
        position: absolute;
        top: 0.4em;
        width: 3.5em;
        text-align: center;

        &.active {
          color: #ccc;
          background: rgba(0, 0, 0, 0.25);
        }

        &:focus {
          border: none;
          outline: none;
          color: white;
        }

      }

      .lyric-content {
        font-weight: 500;
        margin-left: 5em;
      }

      .lyric-start {
        color: $startColor;
        left: 0;
      }

      .lyric-end {
        color: $endColor;
        left: 3em;
      }

    }

    @keyframes lineSelection {
      0% {
        border-bottom: 1px solid transparent;
      }
      100% {
        border-bottom: 1px solid;
      }
    }

  }
}
